In [1]:
import pandas as pd
import numpy as np

# Step 1: Read the Excel file
anketa = pd.read_excel("anketa126828-2024-07-20-2.xlsx")

# Step 2: Add a new column to indicate inclusion (1) or exclusion (0)
anketa['included'] = 1

# Social media platforms
social_media = ["Instagram", "TikTok", "FB", "whatsApp", "LinkedIn", "Twitter", "Youtube", "Snapchat", "Threads", "Pinterest", "other"]

# Function to process the data for perception time
i = 50
k = 0
new_columns = {}
while i < 72:
    values_1 = pd.to_numeric(anketa.iloc[:, i], errors='coerce').fillna(0)
    values_2 = pd.to_numeric(anketa.iloc[:, i + 1], errors='coerce').fillna(0)
    values_1[values_1 < 0] = 0
    values_2[values_2 < 0] = 0
    new_column_name = f"{social_media[k]} perception"
    new_columns[new_column_name] = values_1 * 60 + values_2

    k += 1
    i += 2

new_columns_df = pd.DataFrame(new_columns)
df = pd.concat([anketa, new_columns_df], axis=1)

# Function to process the data for actual time
i = 73
k = 0
new_columns = {}
social_media = ["time spend on all social media apps"] + social_media
while i < 98:
    values_3 = pd.to_numeric(df.iloc[:, i], errors='coerce').fillna(0)
    values_4 = pd.to_numeric(df.iloc[:, i + 1], errors='coerce').fillna(0)
    values_3[values_3 < 0] = 0
    values_4[values_4 < 0] = 0
    new_column_name = f"{social_media[k]} actual"
    new_columns[new_column_name] = values_3 * 60 + values_4

    k += 1
    i += 2
    if i == 95:
        i += 1

new_columns_df = pd.DataFrame(new_columns)
df = pd.concat([df, new_columns_df], axis=1)

In [2]:
# Drop the specified columns
df.drop(columns=df.columns[3:16].tolist() + df.columns[27:50].tolist() + df.columns[50:73].tolist() + df.columns[73:97].tolist(), inplace=True)

# Rename columns
df.rename(columns={df.columns[13]: "Perception of time on all social media", df.columns[14]: "Other social media"}, inplace=True)

# Convert columns to numeric and handle negative values
df.replace({-1: np.nan, -2: np.nan}, inplace=True)
df["Perception of time on all social media"] = pd.to_numeric(df["Perception of time on all social media"], errors='coerce') * 60

In [3]:
# New criteria: Update the 'included' column based on status and time difference
df['included'] = df.apply(lambda row: 0 if row['status'] != 6 else row['included'], axis=1)

# Parse the datetime columns
df['t_insert'] = pd.to_datetime(df['t_insert'], format='%d.%m.%Y %H:%M:%S')
df['t_edit'] = pd.to_datetime(df['t_edit'], format='%d.%m.%Y %H:%M:%S')

# Calculate the time difference in minutes and update the 'included' column
df['time_diff'] = (df['t_edit'] - df['t_insert']).dt.total_seconds() / 60
df['included'] = df.apply(lambda row: 0 if row['time_diff'] < 5 else row['included'], axis=1)

#exclude values after the 17.06
df['included'] = df.apply(lambda row: 0 if row['t_edit'] > pd.to_datetime('2024-06-17', format='%Y-%m-%d') else row.get('included', 1), axis=1)

#just include the subjects between the age 20 and 25, and sex male and female
df['included'] = df.apply(lambda row: 0 if (row['AGE'] < 20 or row['AGE'] > 25) else row['included'], axis=1)
df['included'] = df.apply(lambda row: 0 if (row['SEX'] ==3) else row['included'], axis=1)

# Drop the 'time_diff' column as it is no longer needed
df.drop(columns=['time_diff'], inplace=True)

In [4]:
columns_to_check = [
    'Instagram actual', 'TikTok actual', 'FB actual', 'whatsApp actual', 
    'LinkedIn actual', 'Twitter actual', 'Youtube actual', 'Snapchat actual', 
    'Threads actual', 'Pinterest actual', 'other actual','time spend on all social media apps actual',
]

# Filtering rows where any value in the specified columns is greater than 660
filtered_df = df[df[columns_to_check].gt(660).any(axis=1)]
print(filtered_df)

# Set 'included' to 0 where any value in the specified columns is greater than 660
df.loc[df[columns_to_check].apply(lambda row: any(row > 660), axis=1), 'included'] = 0
# remove the values less than 20 min on all apps
df.loc[df['time spend on all social media apps actual'] < 20, 'included'] = 0

       IDkoda  SEX  AGE  Q2  Q3  Q4  Q5  Q9_2   Q6   Q8  ...  TikTok actual  \
12    0908002    2   21   2   2   1   1   2.0  NaN  1.0  ...              0
52    bmk69W3    1   22   2   2   1   1   NaN  1.0  NaN  ...              1
72    268sjow    1   21   1   1   1   1   2.0  NaN  1.0  ...              0
89    IBAG282    2   22   2   2   1   1   1.0  NaN  2.0  ...            260
117   L27DKZ1    2   21   2   2   1   1   NaN  2.0  NaN  ...            648
119   ekpr111    2   22   2   2   1   1   NaN  2.0  NaN  ...            180
174   5ed3d5d    1   23   2   2   1   1   NaN  1.0  NaN  ...              0
184    N17N8P    2   22   2   1   1   1   NaN  1.0  NaN  ...           1080
214  thht0791    2   23   2   2   1   1   2.0  NaN  1.0  ...             60
220   Nejc153    1   23   2   2   1   1   1.0  NaN  2.0  ...              0
221   1111LMG    2   21   1   2   2   2   NaN  2.0  NaN  ...              0
223  h04u07go    2   21   2   2   1   1   NaN  1.0  NaN  ...            253
224    1705tt    2   23   2   2   1   1   1.0  NaN  1.0  ...              0
230      1111    2   20   2   2   1   1   1.0  NaN  1.0  ...             60
307   Mnbv888    1   25   2   2   1   1   NaN  2.0  NaN  ...              0
320   166juni    2   21   2   2   1   1   NaN  2.0  NaN  ...              0
323   Ynwa420    1   20   2   2   1   1   1.0  NaN  1.0  ...            666
327   555mgmg    1   21   2   2   1   1   2.0  NaN  1.0  ...              0
328  6401kkms    2   23   2   2   1   2   NaN  2.0  NaN  ...              0
345   TMTT316    2   24   2   2   2   1   NaN  2.0  NaN  ...            484
350   GVK2803    2   38   2   1   1   1   2.0  NaN  1.0  ...              0
360   203zhps    2   22   1   2   1   1   1.0  NaN  2.0  ...            929
363   LUKA996    2   21   2   2   1   1   NaN  2.0  NaN  ...             80
367   052MJSR    1   22   2   2   2   2   2.0  NaN  1.0  ...            734
389   efla190    2   23   2   2   1   1   2.0  NaN  1.0  ...              0
410   EBAM144    2   23   2   1   1   1   NaN  2.0  NaN  ...            749
432   0308001    2   22   1   1   1   1   2.0  NaN  1.0  ...            270
434   zalo888    2   21   2   2   1   1   2.0  NaN  1.0  ...           1020
464   121miki    2   23   1   1   1   1   NaN  2.0  NaN  ...            467
474   LP20EV1    1   22   2   2   1   2   NaN  2.0  NaN  ...              0
495   639MGCP    2   23   2   2   1   1   1.0  NaN  2.0  ...            155
501  tevz1234    1   22   2   2   1   1   2.0  NaN  1.0  ...            210
504   A2N4P1I    2   22   2   1   2   1   2.0  NaN  1.0  ...            621
544   179jaov    2   22   2   2   1   2   NaN  1.0  NaN  ...           1069
580   456qwyi    2   21   2   2   1   1   2.0  NaN  1.0  ...           1070
592   kiki123    2   23   2   2   1   1   2.0  NaN  1.0  ...              0
631   skrh937    2   23   2   2   2   2   2.0  NaN  1.0  ...            598
638   seni246    2   23   2   2   1   1   1.0  NaN  1.0  ...              0
640   javs374    2   26   1   2   2   1   NaN  1.0  NaN  ...              0

     FB actual  whatsApp actual  LinkedIn actual  Twitter actual  \
12          28                1                0               0
52           5                0                0            2100
72           2                0                0               0
89          38                0                0               0
117          0                0                0               0
119       1800                5                3               0
174         25                0                0               0
184         60             5700                0               0
214       1500              610                0              60
220          0                0                0               0
221         56               25               23               0
223         40                0                0               0
224         79                0                0               0
230        900                0                0               0
307       1500                0              840               0
320          0                0                0               0
323         51                0                0               1
327        659                0                0               0
328       1080                0                0               0
345         54                0                0               0
350          0                0                0               0
360         47               14                0               0
363          0                0                0               0
367          0                0                0               0
389        195                0                0               0
410        183                0                0               0
432         41                0                0               0
434         60                0                0               0
464        240                0                0               0
474          0                0                0               0
495         36               24                0               0
501         30                0             1830               0
504         38                0                0               0
544         17              238                0               0
580          0                0                0               0
592         41                0                0               0
631         21                0                0               0
638          0                0                0               0
640        138                0                0               0

    Youtube actual Snapchat actual  Threads actual  Pinterest actual  \
12               0               1               0                 0
52             473             135               0                 0
72               4            1380               0                 0
89              83               0               0                 0
117             57               8               0                 6
119            120               0               0                60
174           2760             100               0                 0
184            180            3660               0                 0
214            180              40               0                 0
220            180               0               0                 0
221             35             501               0                34
223              0             114               0               179
224              0               0               0                 0
230            120              30               0                 0
307             47               0               0                 0
320            464              60               0                 0
323            128              31               0                 0
327            186               0               0                 0
328           3180             174               0                 0
345            198             866               0                 1
350              0               0               0                 0
360            367             160               0                 0
363           1800             210               0                 0
367            315             130               0                 7
389            461               0               0                83
410             39              16               0                24
432            617             686               0                 0
434            480             240               0               150
464            394               0               0                 0
474            660              20               0               120
495            255               0               0                13
501             90              30               0                 0
504             77              11               0                 0
544            296              33               0                 0
580             62              82               0                 8
592            226             129               0                15
631             42              26               0                10
638              0               0               0                 0
640            667               0               0                 0

     other actual
12              0
52             15
72             60
89              0
117           726
119             0
174             0
184             0
214             0
220             0
221             0
223             0
224             0
230             0
307             0
320             0
323             0
327             0
328             0
345             0
350             0
360             0
363             0
367             0
389             0
410             0
432             0
434            80
464             0
474             0
495             0
501            30
504             0
544             0
580             0
592            20
631           344
638             0
640           273

[39 rows x 42 columns]

In [5]:
columns_to_check = [
    'Perception of time on all social media',
       'Other social media',
       'Instagram perception', 'TikTok perception', 'FB perception',
       'whatsApp perception', 'LinkedIn perception', 'Twitter perception',
       'Youtube perception', 'Snapchat perception', 'Threads perception',
       'Pinterest perception', 'other perception',
]

# Filtering rows where any value in the specified columns is greater than 660
filtered_df = df[df[columns_to_check].gt(660).any(axis=1)]
print(filtered_df['included'])

38     1
54     1
71     0
187    1
201    1
235    1
289    1
382    1
402    1
408    1
455    1
540    1
595    1
610    1
638    0
Name: included, dtype: int64

In [6]:
filtered_rows = df[df['time spend on all social media apps actual'] < df['Instagram actual']]
filtered_rows[['time spend on all social media apps actual','Instagram actual']]

# Cheking where the sum of social apps is more than the actual time 
df['not equal'] = (
    (df['time spend on all social media apps actual'] < (
        df['Instagram actual'] +
        df['TikTok actual'] +
        df['FB actual'] +
        df['whatsApp actual'] +
        df['LinkedIn actual'] +
        df['Twitter actual'] +
        df['Youtube actual'] +
        df['Snapchat actual'] +
        df['Threads actual'] +
        df['Pinterest actual']
    )) * 1
)

In [7]:
#reorder columns
column_order = [
    'included',
    'IDkoda', 
    'not equal', 
    't_insert', 
    't_edit', 
    'status'
] + [col for col in df.columns if col not in ['included','IDkoda', 'not equal', 't_insert', 't_edit', 'status']]

# Reorder the DataFrame
df = df[column_order]

In [8]:
# Assuming df is your DataFrame
lotteries_columns = df.columns[8:18]
df[lotteries_columns] = df[lotteries_columns].apply(pd.to_numeric, errors='coerce')

# Binarize the risk-taking behavior for logistic regression (0 = safe, 1 = risky)
df[lotteries_columns] = df[lotteries_columns].applymap(lambda x: 1 if x == 1 else (0 if x == 2 else np.nan))

# Adjust the specific columns
df['Q6'] = df['Q6'].apply(lambda x: 1 if x == 0 else (0 if x == 1 else np.nan))
df['Q9_2'] = df['Q9_2'].apply(lambda x: 1 if x == 0 else (0 if x == 1 else np.nan))

/var/folders/jh/x3pzkf253nz6__d6tfg4p4200000gn/T/ipykernel_88556/69838806.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[lotteries_columns] = df[lotteries_columns].applymap(lambda x: 1 if x == 1 else (0 if x == 2 else np.nan))

In [9]:
# Save the updated data to an Excel file
df.to_excel("survey.xlsx", index=False)
print(df.describe())

         included   not equal                       t_insert  \
count  644.000000  644.000000                            644
mean     0.695652    0.386646  2024-05-31 15:51:56.281055744
min      0.000000    0.000000            2024-05-28 22:47:48
25%      0.000000    0.000000  2024-05-29 17:38:15.750000128
50%      1.000000    0.000000            2024-05-30 17:26:04
75%      1.000000    1.000000  2024-06-01 11:59:22.249999872
max      1.000000    1.000000            2024-06-28 16:07:41
std      0.460488    0.487360                            NaN

                              t_edit      status         SEX         AGE  \
count                            644  644.000000  644.000000  644.000000
mean   2024-05-31 17:25:39.563664640    5.843168    1.624224   21.788820
min              2024-05-28 22:53:14    5.000000    1.000000    2.000000
25%    2024-05-29 17:46:33.750000128    6.000000    1.000000   21.000000
50%              2024-05-30 17:32:38    6.000000    2.000000   21.000000
75%    2024-06-01 12:07:39.249999872    6.000000    2.000000   22.000000
max              2024-06-28 17:03:15    6.000000    3.000000   59.000000
std                              NaN    0.363925    0.497368    2.924472

               Q2          Q3          Q4  ...  TikTok actual    FB actual  \
count  625.000000  625.000000  625.000000  ...     644.000000   644.000000
mean     0.169600    0.126400    0.788800  ...      71.487578    31.936335
min      0.000000    0.000000    0.000000  ...       0.000000     0.000000
25%      0.000000    0.000000    1.000000  ...       0.000000     0.000000
50%      0.000000    0.000000    1.000000  ...       0.000000     5.000000
75%      0.000000    0.000000    1.000000  ...      83.000000    30.000000
max      1.000000    1.000000    1.000000  ...    1080.000000  1800.000000
std      0.375582    0.332566    0.408487  ...     143.612723   128.072226

       whatsApp actual  LinkedIn actual  Twitter actual  Youtube actual  \
count       644.000000       644.000000      644.000000      644.000000
mean         17.214286         6.554348       10.194099       74.371118
min           0.000000         0.000000        0.000000        0.000000
25%           0.000000         0.000000        0.000000        0.000000
50%           0.000000         0.000000        0.000000       25.000000
75%           1.000000         0.000000        0.000000       85.250000
max        5700.000000      1830.000000     2100.000000     3180.000000
std         227.089319        79.925423       88.811023      202.683207

       Snapchat actual  Threads actual  Pinterest actual  other actual
count       644.000000      644.000000        644.000000    644.000000
mean         39.531056        0.805901          6.045031     17.513975
min           0.000000        0.000000          0.000000      0.000000
25%           0.000000        0.000000          0.000000      0.000000
50%           1.000000        0.000000          0.000000      0.000000
75%          31.500000        0.000000          0.000000      0.000000
max        3660.000000       82.000000        300.000000    726.000000
std         169.099648        5.582512         25.954072     55.062906

[8 rows x 42 columns]